{% extends "main-base.html" %}

{% load static %}

{% block title %}
Introduction
{% endblock %}

{% block content %}

<div class="introduction">
    <div class="introduction-content">
        <div class="picture">
            <img src="{% static 'images/photo.png' %}" alt="Your Profile" class="img-fluid">
        </div>
        <div class="H1">
            <h1>Let me take you through a journey!</h1>
        </div>
        
        <div id="content">
            {% for item in content %}
            <div class="intro-item">
                <p><strong></strong> {{ item.1 }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Link CSS -->
<link rel="stylesheet" href="{% static 'Css/intro.css' %}">
<script src="{% static 'js/intro_content.js' %}"></script>
{% endblock %}
