{% extends "main-base.html" %}

{% load static %}

{% block title %}
Projects
{% endblock %}

{% block content %}
<div class="content-wrapper">
    <div class="table-container">
        <table id="projectsTable" class="table table-striped table-bordered table-hover custom-table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Technologies Used</th>
                    <th>Project URL</th>
                    <th>Repository URL</th>
                    <th>Size</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                <tr>
                    <td>{{ project.title }}</td>
                    <td>{{ project.description|default:"N/A" }}</td>
                    <td>{{ project.start_date|default:"N/A" }}</td>
                    <td>{{ project.end_date|default:"N/A" }}</td>
                    <td>{{ project.technologies_used|default:"N/A" }}</td>
                    <td>
                        {% if project.project_url %}
                        <a href="{{ project.project_url }}" target="_blank">View Project</a>
                        {% else %}
                        N/A
                        {% endif %}
                    </td>
                    <td>
                        {% if project.repository_url %}
                        <a href="{{ project.repository_url }}" target="_blank">View Repository</a>
                        {% else %}
                        N/A
                        {% endif %}
                    </td>
                    <td>{{ project.size|default:"Medium" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="alert-container">
        <div class="table-alert">
            <strong>Note:</strong> This table may not reflect all my repositories or current GitHub projects due to certain restrictions. 
            Some repositories are private, restricted by professors, or cannot be shared publicly. To view all my latest activities and real-time updates on projects, please visit the 
            <a href="{% url 'current_repo' %}" class="alert-link">Projects section</a> and explore the provided links.
        </div>
    </div>
</div>

<link rel="stylesheet" href="{% static 'Css/table.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="{% static 'js/tableStyling.js' %}"></script>
{% endblock %}
